<?xml version='1.0'?>
<config xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
        xsi:noNamespaceSchemaLocation='urn:magento:framework:Event/etc/events.xsd'>
    <event name='controller_action_catalog_product_save_entity_after'>
        <observer name='Convert_Training_product_Save_After' instance='Convert\Training\Observer\productSaveAfter'/>
    </event>
</config>
